@model IEnumerable<Sankabinis.Models.Complaint>

@{
    ViewData["Title"] = "Index";
}

<h1>User Appeals</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Appeal ID
            </th>
            <th>
                Date
            </th>
            <th>
                Closed status
            </th>
            <th>
                Race ID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_Skundas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sukurimo_Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uzdarytas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_Lenktynes)
                </td>
                <td>

                    <a asp-action="AppealPage" asp-route-raceId="@item.Id_Lenktynes">Details</a>

                </td>
            </tr>
        }
    </tbody>
</table>
