@model Sankabinis.Models.Achievement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Achievement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pavadinimas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pavadinimas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aprasas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aprasas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Generic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Generic)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_Pasiekimas">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
