@model IEnumerable<Sankabinis.Models.Track>

@{
    ViewData["Title"] = "Index";
}

<h1>Tracks</h1>

<p>
    <a asp-action="CreateTrack">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Pavadinimas
            </th>
            <th>
                Pradžios koordinatės
            </th>
            <th>
                Pabaigos koordinatės
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.start_coordinates)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.finish_coordinates)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id_Trasa">Details</a>
                    <a asp-action="Edit" asp-route-id="@item.Id_Trasa">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id_Trasa">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
